<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Miracle - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.php">Miracle</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.php">Home</a></li>
              <li><a href="register.php">Register</a></li>
              <li class="active"><a href="login.php">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Login</h1>
      <p>Miracle is a new way to share images with your friends.</p>

      <div class="row">
        <div class="span8">
          <form class="form-horizontal" action="login.php" method="POST">
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" name="username" id="username" placeholder="Username">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="pwd">Password</label>
              <div class="controls">
                <input type="password" name="pwd" id="pwd" placeholder="Password">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="submit" class="btn" value="Login">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>